#emacs_ignore
*~
\#*\#
*.el[c|d]
.\#*
.projectile

auto-save-list/*
elpa/*
custom.el
transient/*

projectile.cache

.cache/
.lsp-session*

network-security.data

elpy/*
anaconda-mode/*
session.*
.mc-lists.el